# dot files
.DS_Store
.googleapi.md
.claudeapi.md
.siliconflowapi.md
.mistake-notebook.md

# Node.js
node_modules
pnpm-lock.yaml
yarn.lock

# TSC
tsconfig.tsbuildinfo

# Scaffold
.trae
.vscode
.env
.scaffold
build
logs
doc/config